<header class="header">
  <div class="header-content responsive-wrapper">
    <div class="page-logo">
      <a href="/">
        <div>
          <img src="/svg/logo.svg" />
        </div>
        <div class="page-title">Codeial</div>
      </a>
    </div>
    <div class="header-navigation">
      <div class="header-navigation-left-links">
        <!-- <a href="/">Home</a> -->
      </div>
      <div class="header-navigation-right-links">
        <%if(locals.user) {%>
        <a href="/users/profile/<%=user.id%>"> Profile </a>
        <a href="/users/sign-out"> Sign Out </a>
        <a href="/users/profile/<%=user.id%>" class="avatar">
          <img src="<%=user.avatar%>" alt="<%=user.name%>" />
        </a>
        <%} else {%>
        <a href="/users/sign-in"> Sign In </a>
        <a href="/users/sign-up" class="header-button">
          <i class="ph-bold ph-lightning"></i>
          <span>Sign Up</span>
        </a>
        <%}%>
      </div>
    </div>
  </div>
</header>
