<div class="responsive-wrapper">
  <section class="feed-posts"></section>
  <%if (locals.user) {%>
  <div class="content-input-section">
    <div class="content-input-wrapper">
      <form class="new-post-form" id="new-post-form" method="post">
        <textarea
          name="content"
          cols="30"
          rows="4"
          placeholder="Type here..."
          required
          class="form-input"
        ></textarea>
        <input type="submit" class="submit-btn-post" value="Post" />
      </form>
    </div>
  </div>
  <%}%>
  <div class="content">
    <div class="content-main">
      <div class="content-group-cards">
        <div class="content-heading">Posts</div>
        <div class="card-grid" id="post-list-container">
          <%for(let post of posts){%> <%- include('_post', {post: post})-%>
          <%}%>
        </div>
      </div>
    </div>
    <div class="content-panel">
      <div class="content-heading">Friends</div>
      <div class="friend-container">
        <%for(let friend of all_users){%> <%- include('_friend', {friend:
        friend})-%> <%}%>
      </div>
    </div>
  </div>
</div>
<script src="/js/home_posts.js"></script>
