<link rel="stylesheet" type="text/css" href="/css/auth.css" />

<div class="auth-main">
  <div class="auth-card">
    <h1 class="auth-card-header">Sign In</h1>
    <div class="auth-card-body">
      <form action="/users/create-session" method="POST" class="data-form">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-input"
          required
        />

        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-input"
          required
        />
        <input type="submit" class="submit-btn" value="Sign In" />
        <p>Don't have an account ? <a href="/users/sign-up">Sign Up</a></p>
      </form>
      <a href="/users/auth/google" class="submit-btn"> Google Sign In </a>
    </div>
  </div>
</div>
