<link rel="stylesheet" type="text/css" href="/css/auth.css" />

<div class="auth-main">
  <div class="auth-card">
    <h1 class="auth-card-header">Sign Up</h1>
    <div class="auth-card-body">
      <form action="/users/create" method="post" class="data-form">
        <input
          type="text"
          name="name"
          placeholder="Name"
          class="form-input"
          required
        />
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-input"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-input"
          required
        />
        <input
          type="password"
          name="confirm_password"
          placeholder="Confirm Password"
          class="form-input"
          required
        />
        <input type="submit" class="submit-btn" value="Sign Up" />
        <p>Already have an account ? <a href="/users/sign-in">Sign In</a></p>
      </form>
      <a href="/users/auth/google" class="submit-btn"> Google Sign In </a>
    </div>
  </div>
</div>
